<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Knowledge Graph</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #chart {
            width: 100%;
            height: 100vh;
        }
        #node-info {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 10px;
            border-radius: 5px;
            display: none; /* 初始状态隐藏节点信息 */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.0/dist/echarts.min.js"></script>
</head>
<body>
<div id="chart"></div>

<div id="node-info"></div>

<script type="text/javascript">

    fetch('/node_data')
        .then(response => response.json())
        .then(chartData => {

            var colorPalette = ['#FF6666', '#FFCC66', '#FFFF66', '#66CC66', '#66CCCC', '#6666CC', '#CC66CC'];

            var chartDom = document.getElementById('chart');
            var myChart = echarts.init(chartDom);

            var option = {
                series: [
                    {
                        type: 'graph',
                        layout: 'force',
                        roam: true,
                        symbolSize: 60,
                        draggable: true,
                        force: {
                            repulsion: 1000,
                            edgeLength: [100, 300],
                            layoutAnimation: true,
                            drag: true,
                            focusNodeAdjacency: true,
                            preventOverlap: true,
                            seriesDraggable: true
                        },
                        label: {
                            show: true,
                            fontSize: 16,
                            formatter: function(params) {
                                return params.data.id + '\n' + params.data.class;
                            },
                            position: 'inside',
                            distance: 10,
                            draggable: true,
                        },
                        edgeSymbol: ['arrow', 'none'],
                        edgeSymbolSize: [6, 0],
                        edgeLabel: {
                            fontSize: 12,
                            color: '#888'
                        },
                        data: chartData.nodes,
                        links: chartData.links,
                        emphasis: {
                            focus: 'adjacency',
                            lineStyle: {
                                width: 10
                            }
                        },
                        lineStyle: {
                            curveness: 0.2,
                            color: '#999'
                        },
                        itemStyle: {
                            color: function (params) {
                                return colorPalette[params.data.group % colorPalette.length];
                            }
                        }
                    }
                ]
            };

            myChart.setOption(option);

            myChart.on('click', function(params) {
                if (params.dataType === 'node') {
                    var nodeInfo = document.getElementById('node-info');
                    nodeInfo.innerText = params.data.id + '\nClass: ' + params.data.class;
                    nodeInfo.style.display = 'block';
                }
            });
        });
</script>
</body>
</html>