<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>
</head>
<body>
<p>{{username}}</p>
<p>{{avatar}}</p>
<img id="previewImage" src={{data:avatar}} alt="Preview">
<p>{{ uid }}</p>
<br>
登陆成功！<br>
用户操作：

<a href="collected_card?type1={{ uid }}">查看收藏的知识卡片</a><br>
<a href="collected_question?type1={{ uid }}">查看收藏的问题</a><br>
<a href="looked_card?type1={{ uid }}">查看搜索过的知识卡片</a><br>
<a href="looked_question?type1={{ uid }}">查看搜索过的问题</a>

</body>
</html>